:root{
    --primary: #132631;
    --bodycolor: aliceblue;
    --pointerCursor: pointer;
    --dark: rgba(143, 143, 143, 0.719);
    --sucess: yellowgreen;
    --danger:red;
    --reset:yellow;
}

*{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: "baloo bhai 2";
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body{
    /* height: 200vh; */
}
.main{
    /* height: 80%; */
    /* border: solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10vh;
    height: calc(100vh - 10vh);
}

#fixedContainer{
    height: 8vh;
    padding-top: 8px;
    display: inline-flex;
    align-items: start;

  }

#fixedContainer p{
    margin-left: 8px;
    font-size: 0.8rem;
    text-transform: capitalize;
    color: green;
    font-weight:700;
  }

#fixedContainer #msg{
    color: green;
    margin-left: 1px;    
    font-size: 0.8rem;
    text-transform: capitalize;
    font-weight: 700;
  }

#slideUpArowContainer{
    width: fit-content;  
    /* width: 6vw; */
    height: 8vh;
    /* border: solid; */
    display: inline-flex;
    flex-direction: column;
    justify-content: end;

    background-color: aliceblue;
    padding-left:13px ;
}

.container{
    width: 90%;
    margin: auto;
}

.main .generator-body .container{
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* border: solid; */
    padding: 23px 0;
}

.btn{
    width: 130px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;    
    color: #132631;
    border-radius: 12px;
    border: 3px solid var(--primary);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3.2px;
    cursor: var(--pointerCursor);
    transition:  0.2s;
    /* Extra for this project */
    position: absolute;
    top: 64vh;
}

.btn:active{
    color: #fff;
    background-color: var(--primary);
}

#display{
    width: 16rem;
    height:13rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    text-align: center;
    color: #132631;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    /* border: 2px solid var(--primary); */
    margin-bottom: 52px;
    flex-direction: column;
}

.neonBorder{
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem green,
            0 0 0.8rem green,
            0 0 2.8rem green,
            inset 0 0 0.3rem green; 
            transition: 0.7s;
}

.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
  }

#instruction{
    font-size: 1rem;
    text-align: justify;
    color: goldenrod;
    text-align: center;
    text-transform: capitalize;
    /* display: none; */
    /* letter-spacing: 0; */
    

}

#instruction b{
    display: inline-flex;
  font-weight: bolder;   
  text-shadow: var(--primary) 1px 0 10px;
  color: var(--primary);
  letter-spacing: 2.2px;
  text-transform: uppercase;
  border: solid 0.9px #132631;
  border-radius: 3px;
  margin: 0 2px;
  padding: 0 4px;
  height: 3vh;
    align-items: center;
    margin: 12px 0;
}
.notBlink{
    animation: none;
}

.blink_me {
    animation: blinker 4.8s ease-in-out infinite;
  }
.blink_arrow_msg {
    animation: blinked 2.8s ease-in-out infinite;
  }

  @keyframes blinked {
    40% {
      opacity: 0;
     
    }
  }
  
  @keyframes blinker {
    100% {
      /* opacity: 0; */
      color: #fff;
      background-color: var(--primary);
    }
  }

div.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    /* border: solid; */
    background-color: #3e3e3e; 
    height: 17vh;
    text-align: center;
}

#techSkills{
    background-color: #3e3e3e;
    font-size: 11px;
    color: #fff;
}

/* #techSkills img{
   
    display: flex;
    align-items: center;
} */

.skillsWithLogo img {
    display: inline-block;
    width: 15px;
    height:15px; 
    margin-left: 5px;
}
.skillsWithLogoDiff img {
    width: 55px;
    height:15px; 
}
.skillsWithLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e3e3e;
    color: #fff;
}

div.footer .copyright-text,span#year{
    color: #fff;
    background-color: var(--primary);
    font-size: 9px;
    height: 5vh;   
    display: inline-flex;
    align-items: center;
    justify-content: center;
}



/* REALME width 336px */
